  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../images/avatar/<%= adminobj.fd %>" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= adminobj.name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">click here</li>




        <li class="treeview active">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Add?</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="createH"><i class="fa fa-circle-o"></i> Hotels</a></li>

            <li><a href="createM"><i class="fa fa-circle-o"></i> Menu</a></li>

            <li><a href="createCu"><i class="fa fa-circle-o"></i> Cuisine</a></li>

            <li><a href="createc"><i class="fa fa-circle-o"></i> City</a></li>

            <li><a href="createa"><i class="fa fa-circle-o"></i> Area</a></li>

            <li><a href="createwhot"><i class="fa fa-circle-o"></i> WhatsHot</a></li>


          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>View?</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="viewH"><i class="fa fa-circle-o"></i> Hotels</a></li>
            <li><a href="viewU"><i class="fa fa-circle-o"></i> Users</a></li>
            <li><a href="viewa"><i class="fa fa-circle-o"></i> Area</a></li>
            <li><a href="viewc"><i class="fa fa-circle-o"></i> City</a></li>
            <li><a href="viewcu"><i class="fa fa-circle-o"></i> Cuisine</a></li>
            <li><a href="viewre"><i class="fa fa-circle-o"></i> Reports</a></li>
          </ul>
        </li>
        <li>



    </section>
    <!-- /.sidebar -->
  </aside>
