 <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
   <p style="text-align:center;"> <strong>Copyright &copy; 2014-2016 <a href="#">EatLykEagles</a>.</strong> All rights reserved.</p>
  </footer>