<% if(flash != null && flash.message != null && flash.color == 1) { %>
		<p style="text-align:center;color:green;"><b><%= flash.message %> </b></p>
<% } 
	else if(flash != null && flash.message != null && flash.color == 0) { %>
		<p style="text-align:center;color:red;"><b><%= flash.message %> </b></p>

<%	}
		%>




