
    <!--footer-->
  <div id="footer">
<div class="container">
 <div class="row">
   
     <div class="col-sm-3">
       <div class="foot-header">
         
       </div>
       <div class="foot-links">
         
       </div>
     </div><!--/col-sm-3-->
   <div class="col-sm-3">
     <div class="foot-header"> 
     </div>
   </div>
   <div class="col-sm-3">
     <div class="foot-header">
       
     </div>
     <div class="foot-links">
       <p>
         
     </div>
   </div><!--/col-sm-3-->
   <div class="col-sm-3">
     
   </div>
   
 	</div><!--/row-->
 <div class="row">
   <center><img src="http://200.27.156.170/ean_default/img/cocha/footer-bg.png"></center>
   <div id="bottom-footer">
     <div class="row">
       <div class="col-md-8" >
   	<a href="">Home</a>
       <a href="">About us</a>
       <a href="">Blog</a>
       <a href="">Our Products</a>
       <a href="">Contact Us</a>
       </div>
       <div class="col-md-3 phone">
         
         <div class="pull-right">
         <img src="http://200.27.156.170/ean_default/img/cocha/phone-icon.png" class="pull-left">
           <span class="red"> +91 735605850  <small>Call now</small></span>
         </div>
         </div>
   </div>
 </div><!--/row 2-->
     <div class="row" id="final-footer">
       <div class="col-sm-4">
         
       </div>
       <div class="col-sm-4 text-center">
       	Copyright © 2016 . All Rights Reserved
Eatlykeagles.
       </div>
       <div class="col-sm-4 text-right">
       	<span class="fa-stack fa-lg">
             <i class="fa fa-circle text-primary fa-stack-2x"></i>
             <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
           </span>
         <span class="fa-stack fa-lg">
             <i class="fa fa-circle text-info fa-stack-2x"></i>
             <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
           </span>
         <span class="fa-stack fa-lg">
             <i class="fa fa-circle text-danger fa-stack-2x"></i>
             <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
           </span>
       </div>
     </div>
 </div><!--/container-->
</div><!--/footer--></div>


           <div id="push"></div>