    <!-- only for unregistered users -->
    
                         <li style="width: 250px;">
                                <form action="../session/create" class="navbar-form form" role="form">
                                    <div class="form-group">
                                      <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <!--EMAIL ADDRESS-->
                                            <input id="emailInput" placeholder="username" class="form-control" type="text" name="username" oninvalid="setCustomValidity('Please enter a valid username')" onchange="try{setCustomValidity('')}catch(e){}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                            <!--PASSWORD-->
                                            <input id="passwordInput" placeholder="password" class="form-control" type="password" name="password" oninvalid="setCustomValidity('Please enter a password!')" onchange="try{setCustomValidity('')}catch(e){}" required>
                                        </div>
                                    </div>
                                    <!--  BASIC ERROR MESSAGE
                                    <div class="form-group">
                                    <label class="error-message color-red">*Email &amp; password don't match!</label>
                                    </div>
                                    -->
                                    <div class="form-group">
                                        <!--BUTTON-->
                                        <input type="submit" class="btn btn-primary form-control">
                                    </div>
                                    <div class="form-group">
                                        <!--RESET PASSWORD LINK-->
                                        <span class="pull-right"><a href="#">Forgot Password?</a></span>
                                        
                                    </div>
                                    <div class="form-group">
                                        <!--RESET PASSWORD LINK-->
                                        <span class="pull-right"><a href="../user/new">Join here</a></span>
                                        
                                    </div>
                                </form>
                            </li>