<!-- this is used for logged out user to sign in/sign up -->
<!-- this is including button -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" id="load" style="float:right;">Login</button>
    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style=" background-color:#f5f5f5;">
            
            
            <div class="modal-header" style="background-color:#eee;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
               <h4 class="modal-title" id="myModalLabel">
                    Login</h4>
                    </div>
                    
                  
                    
            
            <div class="modal-body">
            
                <div class="row">
                    <div class="col-md-12" style="padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">New here?</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">

                            <!-- login -->
                                <form role="form" action="../session/create" name="form" method="post" class="form-horizontal" style="margin-top:30px;">
                                 <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="username" id="username" class="form-control input-sm chat-input"  required />
                                    </div>
                                </div>
                                
                                
                                
                                
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="password" id="password" class="form-control input-sm chat-input"  required />
                                                 
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Sign in">
                                        <button type="button" class="btn btn-default btn-sm">
                                            Forget Password ?</button>
                                    </div>
                                </div>
                                </form>
                            </div>


                            <!-- signup -->
                            <div class="tab-pane" id="Registration">
                                <form role="form" action="../user/create" method="post"  class="form-horizontal" style="margin-top:30px;">
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" id="email" class="form-control input-sm"  required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="username" id="password" class="form-control input-sm"  required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                       Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" name="email" id="email" class="form-control input-sm"  required>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Password</label>
                                    <div class="col-sm-10">
                                         <input type="password" name="password" id="email" class="form-control input-sm"  required>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Address</label>
                                    <div class="col-sm-10">
                     <input type="text" name="address" id="email" class="form-control input-sm"  required>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Phone</label>
                                    <div class="col-sm-10">
                      <input type="text" name="phone" id="email" class="form-control input-sm"  required>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        State</label>
                                    <div class="col-sm-10">
                       <input type="text" name="state" id="first_name" class="form-control input-sm floatlabel" required>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Country</label>
                                    <div class="col-sm-10">
                        <input type="text" name="country" id="last_name" class="form-control input-sm" required>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Pin</label>
                                    <div class="col-sm-10">
                     <input type="text" name="pin" id="email" class="form-control input-sm"  required>
                                    </div>
                                </div>
                               
                                
                                
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="submit" class="btn btn-primary btn-sm" value="save"/>
                                           
                                        <button type="button" class="btn btn-default btn-sm">
                                            Cancel</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center sign-with">
                            
                            <div class="col-md-12">
                                <div class="btn-group btn-group-justified">
                                    
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>