<!--used for logged in users to navigate to his profile/logout -->
<!-- Single button -->
<div class="btn-group" style="float:right; padding-top:15px; margin-right:10px;">
   <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    My Account <span class="caret"></span>
    </button>
                  
                  <ul class="dropdown-menu">
                    <li><a href="../user/edit">Edit profile</a></li>
                    <li><a href="../static/index">Home</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="../user/destroy">Logout</a></li>
                  </ul>
  
  
</div>
<!-- button -->
