<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eatlykeagles</title>

    <!-- Bootstrap Core CSS -->
    
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>

    
    
    .navbar-inverse{ background-color:#9F0011;};
    
    </style>
 <link href="../styles/style2.css" rel="stylesheet"></link>   

</head>

<body>

<div class="wraper" style="height:100%;">
 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    <a class="navbar-brand" href="/Home"><img src="../images/logo2.png" alt="Eat Lyk Eagles"></a>

    </div>
    <div class="navbar-collapse collapse" id="searchbar">
    
    

     
       <ul  class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>My Account</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                        <ul class="dropdown-menu">
                        <!-- partial should come here -->
                        <%- partial('../partials/log_only.ejs') %>
                          <!-- partial end -->
                        </ul>
                    </li>
                </ul>
     
     
     
     

    </div><!--/.nav-collapse -->
  </div>
  
  </nav>
  
</div>

        <!-- /.container -->
    


<div class="container-fluid" style="background:url(../images/user/food-styling-photography_blur.jpg) no-repeat center; background-size:cover; margin-top:-70px; height:700px;">

<div class="container">

<div class="row">

<div class="col-md-6 col-md-offset-3">

<div class="card" style="background-color: rgba(2555,255,255,.3); margin-top:50px;" >
      
      
      
             <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Sign Up Now</h4><hr>
             <%- partial('../partials/error_display.ejs') %>
             <form action="create" method="post" enctype="multipart/form-data">
             
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Name" name="name" id="UserRegistration_username" type="text" required> 
                
                 </div>
                 
                 
                 
                 <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="User Name" name="username" id="UserRegistration_username" type="text" required> 
                
                 </div>
                 
                 
                 
                 
                 <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Email" name="email" id="UserRegistration_fname" type="text">                                    </div>
                 
                 
                
                
                                                                      
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Password" name="password" id="UserRegistration_password" type="password" required>                                    </div>
                
                
                
            
                
                
                
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Address" name="address" id="UserRegistration_lname" type="text" required>                                    </div>
                
                
                
                
                
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Phone" name="phone" id="UserRegistration_address" type="text" required>                                    </div>
                
                
                
                
                
                
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Country" name="country]" id="UserRegistration_contactnumber" type="text" required>                                    </div>
                
                
                
                
                
                    <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="State" name="state" id="UserRegistration_contactnumber" type="text" required>                                    </div>
                
                
                
                
                
                <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone mycolor"></i></span>
                <input size="60" maxlength="255" class="form-control" placeholder="Pin" name="pin" id="UserRegistration_contactnumber" type="text" required>                                    </div>
                
                
                
                
                
                
            <div class="row">
            
                <div class="col-md-12">
                    <input type="submit" class="btn-u pull-left" value="submit"/>
                </div>
            </div>
      </form>
      
      

</div> 

</div>

</div>
</div>













</div><!--container-->

</div><!--wraper-->









<%- partial('../partials/footer') %> 
        





   

</body>
<script src = "../js/form_val/form_val_reg.js"></script>

</html>
