<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EatlykEagles</title>

  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
    .navbar-default {
    background-color:#9F0011;
    border-color:transparent;
    }

   .btn-danger {
    color: #fff;
    background-color: #9F0011;
    border-color:transparent;
    }
   .modal-backdrop  {
      display : none;
    }
    </style>
    
  
  
  
    
  
</head>
<body style="background-color:#fff;">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container"> 
    
    <!--logo-->
<a  class="navbar-brand" href="../static/index"><img style="margin-top:-10px;" class="img-responsive" src="../images/user/logo2.png" alt="Eat Lyk Eagles"></a>
   
   
   
      <!-- Single button -->
   <div class="btn-group" style="float:right; padding-top:15px; margin-right:10px;">
<%- partial('../partials/user_login_signup') %>
  
  
</div>
</div>  
</div>




            <!--background img-->
            
    <div class="container-fluid" style="background:url(../images/user/bg1.JPG) no-repeat center ;      background-size:cover; width:100%; height:auto;px;">
          
              <div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align:center;">Sign up</h3>
            </div>
            <div class="panel-body">

              <%- partial('../partials/error_display.ejs') %>
             
              <form role="form" action="create" method="post">
                


                <div class="form-group">
                  <input type="text" name="name" id="email" class="form-control input-sm" placeholder="Name" required>
                </div>


                  <div class="form-group">
                  <input type="text" name="username" id="password" class="form-control input-sm" placeholder="UserName" required>
                  </div>          
                                  
                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                </div>


                <div class="form-group">
                  <input type="password" name="password" id="email" class="form-control input-sm" placeholder="password" required>
                </div>
               
               <div class="form-group">
                  <input type="text" name="address" id="email" class="form-control input-sm" placeholder=" Address" required>
                </div>



                <div class="form-group">
                  <input type="text" name="phone" id="email" class="form-control input-sm" placeholder="Phone" required>
                </div>




               <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="state" id="first_name" class="form-control input-sm floatlabel" placeholder="State" required>
                    </div>
                  </div>


                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="country" id="last_name" class="form-control input-sm" placeholder="Country" required>
                    </div>
                  </div>
                </div>

            

                <div class="form-group">
                  <input type="text" name="pin" id="email" class="form-control input-sm" placeholder="Pin" required>
                </div>
                

                <input type="submit" value="submit" class="btn btn-danger btn-block">
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div> <!--/background img-->


         
<%- partial('../partials/footer') %>
                                

</body>
</html>
