<form method="post" action="temp" enctype = "multipart/form-data" >
	<input type="text" name="text" />
	<input type="hidden" name="johhny sir" value="heeeere's johnnyyy" />
	<input type="file" name="fileup" />
	<input type="submit" name="submit" value="chumma" />
	 <input type="hidden" name="_csrf" value="<%= _csrf %>" /> 	
</form>