<div class="isa_error">
  <p style="text-align:center;"><i class="fa fa-times-circle"></i>
  Enganund Chetta? </p>
</div>
<style>
.isa_error {
   color: #D8000C;
   background-color: #FFBABA;
}
</style>
